@media only screen and (max-width: 1200px){
    #contact .row{
        width: 80%;
    }
    .humberg-menu{
    top: 30%;
    }
}


@media only screen and (max-width: 1080px){
    .row{
        max-width: 90%;
    }
}


@media only screen and (max-width: 800px){
    .process-grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-experience-container{
        grid-template-columns: 1fr;
    }
    .grid-wrok-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-work-item:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 4;
    }
    .grid-contact-container{
    grid-template-columns: 1fr;
    }
    #contact .row{
        width: 80%;
    }
    .grid-testimonial-container{
    grid-template-columns: 1fr;
    }
    #testimonial p{
    font-size: 180%;
    width: 70%;
    line-height: 1.6;
    }
}



@media only screen and (max-width: 600px){
    html,
    body{
        font-size: 8px;
    }
    h1::before,
    h1::after{
        width: 80%;
    }
    .grid-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .intro p{
        margin-top: 10px;
    }
    .grid-wrok-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-work-item:nth-child(5){
    grid-column-start: 1;
    grid-column-end: 2;
    }
    #work-section ul li a{
        margin-top: 20px;

    }
    #work-section ul li:hover a{
        background: transparent;
        color: #000;;

    }
    .grid-wrok-container{
        margin-top: 120px;
    }
    .filter-btn ul li{
        margin-top: 30px;
    }
}


@media only screen and (max-width: 420px){
    html,
    body{
        font-size: 7px;
    }
    h1{
    font-size: 450%;
    }
    h1::before,
    h1::after{
        width: 90%;
    }
    .process-grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-wrok-container{
        grid-template-columns: repeat(1, 1fr);
    }
    #contact .row{
        width: 100%;
    }
    .humberg-menu{
        top: 50%;
    }
}